body {
    background: #f1f5f9;
}
.wrapper {
    width: 300px;
    text-align: center;
}
#button {
    width: 200px;
    outline: none;
    border: none;
    border-radius: 2px;
    padding: 5px;
    background: #656d80;
    cursor: pointer;
}